<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="favicon.ico" >
        {% block head %}{% endblock %}
        {% block head_style %}{% endblock %}
        {% block head_script %}{% endblock head_script %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block templates %}{% endblock %}
        {% block foot_script %}{% endblock %}
    </body>
</html>